
@{
    ViewData["Title"] = "Departure";
}

<div class="container">
   <div class="page-header clearfix datailHeading">
        <h2 class="text-muted">Departure Index Page</h2>
   </div>
    <a asp-controller="Departure" asp-action="Create" class="btn btn-outline-primary btn-lg">Create New Departure</a>
</div>

